page-cadastro {

}

.bg{
    background-color: green;
}

.bg{
    font-family:Helvetica;
    background-color: #0c3274;
}

.botaocadastrar{
    background-color: #0c3274;
    opacity: 100%;
    color: white;
}

.botao{
    margin-top:4px;
    padding:15px;
    font-size: 15px;
}

.cordefundo{
    background-color: #e1f0fa;
}